{% extends 'base.html.twig' %}

{% block title %}Episode #{{ episode.id }}
{% endblock %}

{% block body %}
	<div class="media">
		<div class="media-body">
			<h1 class="mt-0">{{ episode.title }}</h1>
			<p>{{ episode.synopsis }}</p>
		</div>
	</div>
    
    <a href="{{ path("program_season_show", { program: program.id, season: season.id }) }}">
        Retour à la saison #{{ season.number }}
    </a>
{% endblock %}
